@model IQueryable<KingWilliamHotelTest.Controllers.ReservationController.AvailableRooms>
@{
    ViewBag.Title = "Available Rooms";
    Layout = "_Layout";
}

<h3>Available Rooms</h3>

<table>
    <thead>
        <tr>
            <th>Room ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
        <tr>
            <td>@r.RoomNo</td>
        </tr>
        }
    </tbody>
</table>

<div class="text-center">
    <a asp-action="" class="btn btn-primary">Return</a>
</div>